/* Container principal do card */
.destaque-container {
    list-style: none;
    width: 23.4375rem; /* 375px */
    max-width: 95%;
    height: 21rem;
    margin: 1.25rem auto; /* 20px */
    padding: 1.25rem; /* 20px */
    border-radius: 0.75rem; /* 12px */
    background: linear-gradient(135deg, #c9a7e6, #a675d6);
    border: 0.125rem solid #2b1a3a; /* 2px */
    position: relative;
    box-shadow: 0 0.3125rem 0.78125rem rgba(0, 0, 0, 0.25); /* 5px 12.5px */
    font-family: 'Segoe UI', sans-serif;
    
}

/* Número da Pokédex */
.pokedex-numberDes {
    font-size: 0.4375rem; /* 7px */
    font-weight: bold;
    color: #4b2c66;
    display: block;
    margin-bottom: 0.25rem; /* 4px */
}

/* Nome do Pokémon */
.pokemon-infoDes {
    font-size: 1.25rem; /* 20px */
    margin: 0 0 0.46875rem 0; /* 7.5px */
    color: #1d1030;
}

/* Container da imagem circular */
.image-destaque {
    background-color: white;
    border-radius: 50%;
    width: 9.375rem; /* 150px */
    height: 9.375rem;
    margin: 0.9375rem auto; /* 15px */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1875rem solid #333; /* 3px */
}

/* Imagem do Pokémon */
.pok-imgDes {
    width: 60%;
    height: auto;
    object-fit: contain;
    border-radius: 1.875rem; /* 30px */
}

/* Container dos tipos */
.types-containerDes {
    display: flex;
    gap: 0.3125rem; /* 5px */
    margin-top: 1.5625rem; /* 25px */
}

/* Badge padrão */
.type-badgeDes {
    padding: 0.25rem 0.5625rem; /* 4px 9px */
    border-radius: 0.625rem; /* 10px */
    font-size: 0.4375rem; /* 7px */
    font-weight: bold;
    color: white;
}

/* Botão estilo "Adicionar ao time" */
.add-button {
    position: absolute;
    top: 0.9375rem; /* 15px */
    right: 0.9375rem;
    background-color: black;
    color: white;
    border: none;
    padding: 0.3125rem 0.5625rem; /* 5px 9px */
    border-radius: 0.3125rem; /* 5px */
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.add-button:hover {
    opacity: 0.8;
}